#head {
    height: 70px;
    background-color:#1B2631  ;
}
main{
    background: #1B2631  ;
}
#imagenLogo,
#imga {
    height: 70px;
    width: 100px;
    margin-left: 15px;
    margin-top: 10px;
}

#headDiv, #login {
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 6% !important;
}

ul.nav {
    --bs-nav-link-color: #fff !important;
}
#login,
#alog,#text {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#tomandoIMG{
    width: 100%;
    height: 100%;
    margin-left: 10%;
}
.container-fluid{
    margin-top: 10%;
    display: flex;
    align-items: center;
    height: 300px;
    margin: 0 10px;
}

#compra{
    margin-left: 40%;
}
#mainIm, #text{
    margin-right: 5%;
    margin-top: 10%;
    text-align: justify;
}
#ofertas{
    text-align: center;
    background-color: #CCD1D1;
    color: black;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#rowOferta{
    margin-top: 70px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    height: auto;
 }
 #pilsener, #corona{
    width: 80%;
    height: 80%;
    display:block;
    margin:auto;
 }
 p, a, i{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: justify;
 }
 @media (min-width: 1200px) {
    .container{
        max-width: 1140px !important;
    }
 }
 #icomo, img{
    width: 80px;
    height: 80px;
 }
 footer{
    background: #AEB6BF  ; 
 }
.card{
    background: #AEB6BF !important ; 
 }
 .card-title {
    text-align: center;
 }
