@media screen and (max-width:600px){

    .footer {
        text-align: center;
    }

    .row {
        padding: 1em 0em;
    }

    .login {
        margin: 1em auto;
        display: flex;
    }

    .container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        grid-gap: 5px;
    }

    .grid-container-1 {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        grid-gap: 5px;
    }

    .slider-buttons {
        height: 460px;
        justify-content: center;
    }

}